<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Title</title>
</head>
<body>
    <h1>이것은 게시판</h1>
    <input type="text" name="search" /><button>검색</button>
    <form method="post" action="/writing">
        <input type="text" placeholder="제목" name="title">
        <input type="text" placeholder="내용" name="content">
        <input type="text" placeholder="작성자" name="writer">
        <button type="submit">입력</button>
    </form>

    <table border="1">
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>내용</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="content : ${contents}" th:id="'row' + ${content.id}">
                <td th:text="${content.id}">1</td>
                <td th:text="${content.title}">제목</td>
                <td th:text="${content.content}">내용</td>
                <td th:text="${content.writer}">작성자</td>
                <td th:text="${content.registered}">작성일</td>
                <td>
                    <button th:attr="onclick='updateContent(' + ${content.id} + ')'">수정</button>
                </td>
                <td>
                    <button th:attr="onclick='deleteContent(' + ${content.id} + ')'">삭제</button>
                </td>
            </tr>
        </tbody>
    </table>
    <script th:inline="javascript">
        function updateContent(id){
            var row = document.getElementById('row' + id);
            var cells = row.getElementsByTagName('td');

            for (var i = 0; i < 3; i++) {
                var input = document.createElement('input');
                input.type = 'text';
                input.name = i === 0 ? 'title' : i === 1 ? 'writer' : 'content';
                input.value = cells[i+1].innerText;
                cells[i+1].innerText = '';
                cells[i+1].appendChild(input);
            }

            var updateBtn = document.createElement('button');
            updateBtn.setAttribute('onclick', 'updateContentProcess(' + id + ')');
            updateBtn.innerText = '수정';
            cells[5].innerText = '';
            cells[5].appendChild(updateBtn);
        }

        function updateContentProcess(id){
            var row = document.getElementById('row' + id);
            var cells = row.getElementsByTagName('td');

            var title = cells[1].children[0].value;
            var content = cells[2].children[0].value;
            var writer = cells[3].children[0].value;

            var data = {title: title, content: content, writer: writer};

            fetch(`/update/`+ id, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => {
                    if(response.ok) {
                        window.location.href = '/write';
                    }
                    else {
                        alert("수정할 수 없습니다.");
                    }
                }
            );
        }

        function deleteContent(id) {
            fetch(`/delete/`+ id, { method: 'POST' })
                .then(response => {
                    if(response.ok) {
                        window.location.href = '/write';
                    }
                    else {
                        alert("삭제할 수 없습니다.");
                    }
                }
            );
        }
    </script>
</body>
</html>